# Dependencies
node_modules
.pnpm-store

# Build output
dist

# Environment
.env
.env.local
.env.*.local

# Database
data
*.db
*.sqlite
*.db-journal

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Git
.git
.gitignore
.gitattributes

# CI/CD
.github

# Documentation
*.md
README.md

# Test
coverage
*.test.ts
*.spec.ts
